body {
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,20,85,1) 35%, rgba(37,54,197,1) 100%);
}
